:root {
    font-size: 20px;
    background-color: #000;
}
body {
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: #111;
    width:      100vw;
    min-height: 100vh;
    font-size: 0.75rem;
}
.app h1 {
    margin: 1em auto;
    padding: 0.25em 1em;
}
.app main {
    box-sizing: border-box;
    flex: 1 1 36rem;
    width: 24rem;
    max-width: 100vw;
    margin: 0;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.app .bg {
    position: absolute;
    inset: 0;
    margin: 0;
    background-size: cover;
    background-position: top;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7)), url("../assets/background.jpg"); */
    background-image: url("../assets/background.jpg");
}
.candidates-board {
    width: 20rem;
    max-width: 100%;
    height: 2.5rem;
    border-radius: 0.3rem;
    margin: 0.75rem auto;
    display: flex;
    justify-content: space-between;
}
.candidates-board .candidate {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    height: 1.35rem;
    line-height: 1;
    margin: auto;
    padding: 0.5rem;
    cursor: pointer;
}
